
/* nu ai neaparata nevoie de un fisier separat de css pentru fiecare pagina. Nu este gresit, depinde de dimensiunea proiectului. */
html, body {
    height: 100%;
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    /* in situatii de genul asta nu te sfatuiesc sa folosesti %. Pe o rezolutie diferita de a ta nu ai nici un fel de control */
    height: 240px;
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
}

.header-wrapper-logo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 30px 40px;
}

.logo-wrapper {
    width: 120px;
}

.logo-wrapper img {
    width: 100%;
    height: auto;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600; 
}

.menu span {
    margin-right: 20px;
    color: white;
}

.menu span a{
    text-decoration: none;
    color: white;
}

 .menu span:first-child a{
    display: inline-block;
    padding: 2px;
    background-color: white;
    border-radius: 20px;
    color: blue;
    width: 100px;
    text-align: center;
}

.menu span a:hover{
    color: #acfdfe;
}

h1 {
    margin-left: 40px;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px; 
}

.separator-first {
    width: 20%;
    margin: 20px auto 20px 40px;
    border-top: 2px solid white;
}

p {
    color: white;
    margin-left: 40px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}



.input-validation:required:invalid
 {
    background-image: linear-gradient(to right, LightCyan, #fff);
}


.container-form-contact {
    padding-top: 40px;
    /* daca aici dai 30% si mai jos pe input dai 300px iti creezi singura conflict. Evident iti va lua dimensiunea fixa, care e mai mica, iar cei 30% te vor incurca maxim la pozitionare centrata */
    /* alege una dintre marimi pentru consistenta. Iar daca alegi cei 30%, poti sa dai 100% pe input si gata. */
    width: 300px;
    margin: 20px auto;
}

.input-wrapper {
    position: relative;
    width: 300px;
    /* mult mai mare height-ul asta sa respecti layout-ul, cel putin 35px */
    /* height: 20px; */
    height: 35px;
    margin: 10px 0px;
    bottom: 5px;
}

.input-wrapper i {
    /* color: gray; */
    color: #999;
    position: absolute;
    top: 10px;
    left: 10px;
}

.input-wrapper input {
    width: 100%;
    height: 100%;
    padding-left: 35px;
    /* lipsesc multe reguli de stil aici pentru a respecta layout-ul */
    color: #999;
    border: 1px solid #999;
}

/* Avem la dispozitie acest pseudo-element pentru stilizarea placeholder-ului. Daca nu il folosim stilurile se aplica pe value */
.input-wrapper input::placeholder {
    color: #999;
}


.separator-second {
    width: 340px;
    margin: 30px 0px;
    border-top: 2px solid aqua;
}

/* lipseste stil si pt textarea */
textarea {
    color: #999;
    border: 1px solid #999;
    width: 340px;
    height: 200px;
}


.form-end { 
    padding: 20px 20px 20px 60px;
    margin: 20px auto;
}

.form-end button {
    width: 90px;
    background-color: aqua;
    border: 0px aqua;
    padding: 8px 10px;
    margin-right: 10px;
}

.form-end a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}




.footer-content{
    margin: 40px auto;
    text-align: center;
    text-transform: uppercase;
    line-height: 10px;
    padding-top: 25px;
}

.footer-content h2 {
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;;
}

.footer-content h3 {
    font-size: 8;
    color: aqua;
    font-family: 'Roboto', sans-serif;
}